
.popup-edit-posts {
	position: absolute;
	top: 44px;
	right: 10px;
	width: 468px;
	z-index: 5;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(53, 64, 82, 0.229);
	border-radius: 10px;
	padding: 62px 0 33px;
	opacity: 0;
	pointer-events: none;
	transition: all .2s;
	transform: translateY(-30px) scale(0);
	&__close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		transition: all .2s;
		&:hover {
			transform: rotate(90deg) scale(1.2);
		}
	}
	&.active {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0) scale(1);
	}
	&__list {
		margin: 0 0 33px;
	}
	&__item {
		line-height: 21px;
		letter-spacing: 0.08px;
		color: #272557;
		padding: 12px 34px 11px;
		position: relative;
		svg {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 17px;
			width: 20px;
			fill: #E0E0E0;
			transition: all .2s;
		}
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
		&:hover svg {
			fill: #272557;
		}
	}
	&__title {
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 0.06px;
		color: #272557;
	}
	&__subtitle {
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.3px;
		color: #9E9E9E;
	}
	&__btn {
		display: block;
		max-width: 150px;
		margin: 0 31px 0 auto;
	}
}