.input-wrap {
	display: flex;
	flex-direction: column-reverse;
}

.input,
.input__title,
.textarea {
	transition: all .2s;
}

.input-title {
	line-height: 21px;
	letter-spacing: 0.08px;
	color: #9E9E9E;
	margin: 0 0 5px;
}

.input,
.textarea {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	padding: 15px 18px 14px;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.08px;
	color: #000;
	background: #fff;
	outline: 4px solid transparent;
}
.input:focus,
.textarea:focus {
	border-color: #1565C0;
	outline: 4px solid #E8F0F9;
}
.input:focus ~ .input-title,
.textarea:focus ~ .input-title {
	color: #1565C0;
}
.input:hover,
.textarea:hover {
	outline: 4px solid #E8F0F9;
}

.textarea {
	resize: none;
}