@import '../../../../../node_modules/rsuite/dist/rsuite';

.add-changelog {
	&__title {
		margin: 0 0 22px;
	}
	&__body {
		max-width: 734px;
	}
	&__form-item {
		margin: 0 0 13px;
		textarea {
			height: 118px;
			resize: vertical;
		}
		& .post-form-select__body {
			top: auto;
			bottom: calc(100% + 10px);
			transform: translateY(100%) scale(0);
		}
	}
	&__label-list {
		display: flex;
		gap: 15px;
		margin: 13px 0 53px;
	}

	& .rs-picker-toggle-placeholder {
		line-height: 21px;
		letter-spacing: 0.08px;
		color: #9E9E9E;
		font-size: 14px;
	}
	& .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
		color: #000;
	}
}