.add-segments {
	&__title {
		margin: 0 0 22px;
	}
	&__body {
		max-width: 804px;
	}
	&__list {
		display: flex;
		gap: 27px 20px;
		flex-wrap: wrap;
	}
	&__name {
		width: 100%;
	}
	&__company {
		width: calc(30% - 10px);
		& .post-form-select__header {
			color: #000;
		}
	}
	&__is {
		width: calc(20% - 10px);
		& .post-form-select__header {
			color: #000;
		}
	}
	&__value {
		width: calc(50% - 20px);
	}
	&__attr {
		width: 200px;
		& .post-form-select__header {
			z-index: 1;
		}
	}
}