@import '../../styles/vars.scss';

.navbar {
	&__item,
	&__item-icon path {
		transition: all .2s;
	}

	&__item {
		
	}

	&__item-icon {
		width: 20px;
		height: 20px;
		path {
			fill: #9E9E9E;
		}
		&.stroke {
			path {
				fill: white;
				stroke: #9E9E9E;
			}
		}
	}

	&__item-icon.stroke path,
	&__item-icon-setting path {
		stroke: #9E9E9E;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 12px 24px;
		gap: 20px;
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.07px;
		color: $darkColor;
		cursor: pointer;
		&:hover {
			background: #F2F2F5;
		}
		&:hover .navbar__item-icon path{
			fill: #1565C0;
		}
		&:hover .navbar__item-icon.stroke path {
			stroke: #1565C0;
			fill: #F2F2F5;
		}
		&:hover .navbar__item-icon-setting path {
			stroke: #1565C0;
		}
	}

}

.settings-navbar {
	overflow: hidden;
	&__header {
		position: relative;
		&::after {
			content: "";
			background: url('../../assets/icons/arrow-tab.svg') center/cover no-repeat;
			position: absolute;
			top: calc(50% - 3.3px);
			right: 28px;
			width: 11.67px;
			height: 6.67px;
			transform: rotate(180deg);
		}
	}
	
	&__list {
		margin: 0;
		height: 0;
		opacity: 0;
	}
	&__list,
	&__header::after {
		transition: all .2s;
	}

	&__link {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.3px;
		margin: 0 0 6px;
		color: rgba(39, 37, 87, 0.5);
		&:hover {
			color: #272557;
		}
	}
	&.active .settings-navbar__list {
		margin: 6px 10px 7px 64px;
		opacity: 1;
	}
	&.active .settings-navbar__header::after {
		transform: rotate(0);
	}
}
