.generate-form {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	position: relative;
	padding: 16px 177px 13px 21px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 579px;
	margin: 0 20px 0 37px;
	overflow: hidden;
	&__key {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
	&__copy {
		width: 24px;
		height: 24px;
		cursor: pointer;
		background: transparent;
		transition: all .2s;
		svg:hover path {
			fill: #1565C0;
		}
	}
	&__label {
		position: absolute;
		top: -1px;
		left: calc(50% - 82px);
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		padding: 2px 30px;
		background:#1565C0;
		border-radius: 0 0 30px 30px;
		transform: translate(-50%, -100%);
		transition: all .3s;
		&.active {
			transform: translate(-50%, 0);
		}
	}
	&__btn {
		position: absolute;
		top: -1px;
		right: 0;
		height: calc(100% + 2px);
		width: 164px;
		font-weight: 600;
		line-height: 21px;
		letter-spacing: 0.07px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #1565C0;
		border-radius: 5px;
		transition: all .2s;
		&:hover {
			background: #4676ad;
		}
	}
}