.graph-select {
	position: relative;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.09px;
	overflow: hidden;
	cursor: pointer;
	transition: all .2s;
	margin: 0 0 0 auto;
	color:#9E9E9E;
	&__header,
	&__body {
		background: #fff;
	}

	&__header {
		position: relative;
		padding: 12px 30px 8px;
		z-index: 5;
	
	}
	&__body,
	&__item,
	&__icon {
		transition: all .2s;
	}
	
	&__body,
	&__icon {
		position: absolute;
	}

	&__body {
		top: 20;
		left: 0;
		width: 100%;
		border: 1px solid #D7D7D7;
		border-radius: 2px;
		z-index: 1;
		text-align: center;
	}
	&__item {
		padding: 5px 20px;
		&:hover {
			text-shadow: 0 0 3px #d8d6f1;
			background: rgba(232, 231, 243, 0.5);
		}
	}
	&__icon {
		top: 20px;
		right: 0;
	}
	&.active {
		overflow: visible;
		& .graph-select__body {
			top:100%;
			opacity: 1;
			pointer-events: all;
		}
		& .graph-select__icon {
			transform: rotate(180deg);
		}
	}
}