.create-boards {
	&__form {
		max-width: 800px;
	}
	&__title {
		margin: 0 0 16px;
	}
	&__input {
		margin: 0 0 30px;
	}
	&__textarea {
		margin: 0 0 41px;
		textarea {
			height: 131px;
		}
	}
	&__buttons {
		display: flex;
		gap: 23px;
		justify-content: flex-end;
	}
}